<!DOCTYPE html>
<html ng-app="custom-tagsinput">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-tagsinput.css">
<!-- section javascript  -->

<script src="lib/jquery-2.1.1.js"></script>
<script src="lib/angular.js"></script>
<script src="js/tagsinput.js"></script>
<script src="js/typeahead.js"></script>

<body style="background-color:white">
    <div class="col-md-10" style="margin: 40px 0px 25px 0px" ng-controller="tagsinputController">
        <div class="bootstrap-tagsinput" customtags id="searchAttribute"  ng-model="query.querySearch">
            
        </div>
        <br><br><br>
        <div class="search-input" id="searchAttribute2"  customtags ng-model="query.querySearch" >
            
        </div>
        <br><br><br>
        <span>Enter value:</span>
        <br>
        <span>{{query.querySearch}}</span>

</div>
</body>
</html>
